@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Muli", sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: #333;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  min-height: 70vh;
  position: relative;
  background: url(../imgs/bg2.jpg) left no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70vh;
  }
}
.header .container {
  background-color: rgba(18, 67, 100, 0.96);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.header .container::before {
  transform-origin: bottom right;
  -ms-transform: skew(0deg, -5deg);
  -webkit-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  background-color: #FFF;
  position: absolute;
  height: 30vh;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
}
.header .container .menu {
  top: 20px;
  right: 20px;
  z-index: 999;
  position: fixed;
  border-radius: 50%;
  display: inline-block;
  padding: 10px 10px 7px 10px;
  background-color: rgba(13, 50, 74, 0.96);
}
.header .container .menu img {
  width: 20px;
  height: auto;
}
.header .container .main {
  grid-template-columns: 1fr;
  box-sizing: border-box;
  position: relative;
  padding-top: 130px;
  display: grid;
  margin: auto;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .header .container .main {
    grid-template-columns: 1fr 1fr;
    width: 75%;
  }
}
.header .container .main .titles {
  padding: 5% 10px;
}
.header .container .main .titles h1 {
  color: #FFF;
  font-size: 30px;
  padding: 5px 0px;
  display: inline-block;
  text-transform: uppercase;
}
.header .container .main .titles h3 {
  text-transform: uppercase;
  font-weight: 200;
  padding: 5px 0px;
  font-size: 16px;
  color: #FFF;
}
.header .container .main .titles .socials {
  padding-top: 15px;
}
.header .container .main .titles .socials ul {
  padding: 0;
  margin: 0;
}
.header .container .main .titles .socials ul li {
  display: inline-block;
  margin-right: 5px;
  list-style: none;
  cursor: pointer;
}
.header .container .main .titles .socials ul li img {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  height: 25px;
  width: auto;
}
.header .container .main .avatar {
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
}
.header .container .main .avatar img {
  border-radius: 50%;
  height: auto;
  width: 200px;
}
@media screen and (min-width: 480px) {
  .header .container .main .avatar img {
    width: 280px;
  }
}

.about {
  width: 95%;
  min-height: 50vh;
  margin: auto;
  display: grid;
  position: relative;
  background-color: #FFF;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 480px) {
  .about {
    grid-template-columns: 1fr 2fr;
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .about {
    grid-template-columns: 3fr 6fr 1fr;
    width: 75%;
  }
}
.about .skills {
  padding: 25px 10px;
}
.about .skills h1 {
  font-size: 20px;
  padding-bottom: 5px;
  color: #124364;
  text-transform: uppercase;
}
.about .skills ul {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 480px) {
  .about .skills ul {
    grid-template-columns: 1fr;
  }
}
.about .skills ul li {
  list-style: none;
  padding: 5px 0;
}
.about .skills ul li img {
  width: 20px;
  height: auto;
}
.about .skills ul li a {
  color: #333;
  padding-top: 5px;
}
.about .contributions {
  padding: 25px 10px;
}
.about .contributions h1 {
  font-size: 20px;
  padding-bottom: 5px;
  color: #124364;
  text-transform: uppercase;
}
.about .contributions ul {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 480px) {
  .about .contributions ul {
    grid-template-columns: 1fr;
  }
}
.about .contributions ul li {
  color: #124364;
  margin-left: 20px;
  padding: 0;
}
.about .contributions ul li span {
  padding-top: 5px;
  font-size: 14px;
  color: #555;
}
.about .main {
  padding: 0 10px;
}
.about .main .section {
  padding: 10px 0px;
  margin-bottom: 30px;
}
.about .main .section h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #124364;
}
.about .main .section p {
  padding-bottom: 10px;
  font-weight: 300;
  max-width: 600px;
  font-size: 18px;
}
.about .main .section p b {
  display: block;
  letter-spacing: 2px;
}

.education {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 480px) {
  .education {
    grid-template-columns: 1fr 1fr;
  }
}

.footer {
  padding: 20px;
  margin-top: 50px;
  position: relative;
  background: url(../imgs/bg2.jpg) left no-repeat;
  background-size: cover;
}
.footer::before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(18, 67, 100, 0.96);
}
.footer .socials {
  width: 100%;
  padding-top: 15px;
  position: relative;
}
.footer .socials ul {
  padding: 0;
  margin: 0;
}
.footer .socials ul li {
  display: inline-block;
  margin-right: 5px;
  list-style: none;
  cursor: pointer;
}
.footer .socials ul li img {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  height: 25px;
  width: auto;
}
.footer .socials ul .copy {
  letter-spacing: 1px;
  font-weight: 200;
  color: #FFF;
}
@media screen and (min-width: 480px) {
  .footer .socials ul .copy {
    float: right;
  }
}

.projects ul {
  padding: 0;
}
.projects ul li {
  width: 100%;
  height: 150px;
  list-style: none;
  display: inline-block;
  background-color: #333;
}
@media screen and (min-width: 480px) {
  .projects ul li {
    width: 180px;
  }
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.95);
}
.navbar ul {
  margin: 0;
  padding: 0;
  margin-top: 50%;
}
@media screen and (min-width: 480px) {
  .navbar ul {
    margin-top: 30%;
  }
}
@media screen and (min-width: 768px) {
  .navbar ul {
    margin-top: 15%;
  }
}
.navbar ul li {
  text-align: center;
}
.navbar ul li a {
  color: #FFF;
  padding: 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar ul li a:hover {
  color: #124364;
}

/*# sourceMappingURL=main.css.map */
