.projects {
    ul {
        padding: 0;
        li {
            width: 150px;
            height: 150px;
            list-style: none;
            display: inline-block;
            background-color: #333;
        }
    }
}